@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var home = CurrentPage.Site();
}


<div class="col-xs-12 col-md-6 footer-links">
    <p>
        <a href="/legal-disclaimer" title="Read the Legal Disclaimer for this site">Legal Disclaimer</a>
    </p>
    <p>© Copyright New England Gemstone Supply. <br/>All Rights Reserved</p>
</div>
<div class="col-xs-12 col-md-6 footer-links">
    <p>Please call us or visit our <a href="~/contact-us/">Contact Page.</a></p>
    <p>Tel: 800-659-4367</p>
    <p>Fax: 860-871-0042</p>
</div>
